/* COLORS */
$cPrimary: #005e8d;
$cPrimaryDark: #004466;
$cPrimaryLight: #008dd3;
$cSecondary: #7100da;
$cSecondaryDark: #4b0092;
$cSecondaryLight: #8400ff;
$gray: #b9b9b9;
$black: #111111;
$white: #dbf2ff;

/* FONT SIZES */
$fs: 1.6rem;
$fsH1: 3.2rem;
$fsH2: 2.7rem;
$fsH3: 2.2rem;
$fsH4: 1.8rem;

/* FONT FAMILIES */
$headingFont: 'Noto Serif', serif;
$paragraphFont: 'Fredoka', sans-serif;

/* BREAKPOINTS */
$bpS: 480px;
$bpM: 768px;
$bpL: 1024px;
$bpXL: 1440px;
